body {
    height: 100vh;
    overflow: hidden;
    margin: 0;    
}

.wrapper {
    display: flex;
}

.side-menu {
    width: 100px;
    background: gray;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.block-box-side {
    width: 100px;
    z-index: 999;
}

.block-box-bottom {
    width: 100vw;
    height: 10px;
    z-index: 9999;

}

.align-text-center {
    text-align: center;
}

.canvas {
    height: 500px;
    width: 500px;
    border: 2px solid black;
}

.box-draw {
    height: 5px;
    width: 5px;
    position: absolute;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}